<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PASSIS.LIB.Properties.Settings.pliveConnectionString3"
            connectionString="Data Source=localhost;Initial Catalog=plive;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PASSIS.LIB.Properties.Settings.pliveConnectionString1"
            connectionString="Data Source=TELNET-DEV2-PC;Initial Catalog=plive;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PASSIS.LIB.Properties.Settings.pliveConnectionString2"
            connectionString="Data Source=localhost;Initial Catalog=plive;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PASSIS.LIB.Properties.Settings.pliveConnectionString3"
            connectionString="Data Source=10.10.10.20;Initial Catalog=plive;User ID=sa;Password=password123$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>