<?xml version="1.0"?>

<configuration>

    <connectionStrings>
      
        <add name="pliveConnectionString3" connectionString="Data Source=.;Initial Catalog=plive;User ID=sa; Password=password123$"
            providerName="System.Data.SqlClient" />
        <add name="pliveConnectionString" connectionString="Data Source=.;Initial Catalog=plive;User ID=sa;Password=password123$"
            providerName="System.Data.SqlClient" />
    <add name="pliveConnectionString" connectionString="Data Source=10.10.10.20;Initial Catalog=plive;User ID=sa; Password=password123$"
            providerName="System.Data.SqlClient" />
        <!--<add name="pliveConnectionString" connectionString="Data Source=10.10.10.20;Initial Catalog=plive;User ID=sa;Password=password123$"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
